@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
body{
    font-family: 'Inter', sans-serif !important;
};

#navbarNavDarkDropdown{
    margin: 0 !important;
};

section{

    div#first{
        width: 40px !important;
        height: 40px !important;
    }
};

@media  screen and (min-width: 1000px) {
    section{left: 93% !important;}
}

@import 'scss/functions';
@import 'scss/variables';



$new-color: #744FFE;
$new-theme-colors: (
  'primary': $new-color,
  'warning': #20C876,
  'info':#C28135,
  'danger':#FFEEDA,
  'secondary':#FFAA46,
);
$theme-colors: map-merge($theme-colors, $new-theme-colors);



@import 'scss/bootstrap.scss';